{% extends "layout.html" %}

{% block title %}Transactions{% endblock %}

{% block main %}

<table class="table table-striped">
    <thead>
        <th>Time</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Type</th>
    </thead>
    <tbody>
        {% for holding in holdings %}
        <tr>
            <td>{{holding["time"]}}</td>
            <td>{{holding["symbol"]}}</td>
            <td>{{holding["name"]}}</td>
            <td>{{holding["shares"]}}</td>
            <td>{{holding["price"]}}</td>
            <td>{{holding["type"]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}