{% extends "layout.html" %}

{% block title %}Portfolio{% endblock %}

{% block main %}

<table class="table table-striped">
    <thead>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Total</th>
    </thead>
    <tfoot>
        <tr>
            <td colspan="1">Total Portfolio Value</td>
            <td colspan="3"></td>
            <td> <b> {{totalval}} </b> </td>
        </tr>
    </tfoot>
    <tbody>
        {% for holding in holdings %}
        <tr>
            <td>{{holding["symbol"]}}</td>
            <td>{{holding["name"]}}</td>
            <td>{{holding["shares"]}}</td>
            <td>{{holding["price"]}}</td>
            <td>{{holding["total"]}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="1">Cash Balance</td>
            <td colspan="3"></td>
            <td> {{cash}} </td>
        </tr>
    </tbody>
</table>
{% endblock %}